{% extends "layout.html" %}

{% block main %}
    <h1 style="font-family: 'Unica One'; margin-bottom: 2rem;">Optimal Ban List Finder</h1>

    <div>
    <button class="btn btn-primary" type="button" onclick="location.href='/history'" style="margin: 1rem; width: 10rem;">Match History</button>
    <button class="btn btn-primary" type="button" onclick="location.href='/ban'" style="margin: 1rem; width: 10rem;">Ban Suggestion</button>
    <button class="btn btn-primary" type="button" onclick="location.href='/request'" style="margin: 1rem; width: 10rem;">Store Data</button>
    </div>
    
    <div style="display: inline-block;">
    <div style="width: auto; text-align: center; max-width: 40rem; margin-top: 1rem;">
        Please choose an action.
    </div>
    <div style="width: auto; text-align: left; max-width: 40rem; margin-top: 1rem;">
        <span style="padding-left: 1.5rem">Just remember that you must first store data from Riot Games API before you can use 'Match History' or 'Ban Suggestion'.</span>
    </div>
    </div>
{% endblock %}