{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <div class="spinner-border text-primary" style="width: 14rem; height: 14rem;"></div>
    </div>

    <p style="display: inline-block; width: auto; text-align: left; max-width: 40rem; margin-top: 1rem;">
        <span style="padding-left: 1.5rem">Loading... please wait patiently :)</span>
    </p>

    <form action="/ban2" method="post" id="form1">
        <div class="form-group" style="display: none;">
            <input class="form-control" name="summonername" id="summonername" value="{{ summoner_input }}" type="text">
            <input class="form-control" name="region" id="region" value="{{ region_input }}" type="text">
        </div>
    </form>

    <script>document.getElementById("form1").submit();</script>
{% endblock %}